<ion-view title="Day 1- {{activity.$id}}"  >

	

	<ion-content has-header="true">
		<div class="button-bar" ng-show="true">
		  <a class="button button-block button-balanced  ion-ios7-stopwatch-outline" ng-click="newQuarter()"> Round</a>
		  <a class="button button-block button-positive ion-ios7-star-outline" ng-click="showWinnerModal()"> Winner</a>
		  <a class="button button-block button-energized ion-ios7-pricetag-outline" ng-click="showPointsModal()"> Champion</a>
		</div>

		 

			<div class="list">

			

				<div class="item item-divider align-center">
				Final Score
				</div>

				<div ng-repeat="quarter in scores | filter : {activityId : activity.$id}">
				<div ng-show="$last">
					<div class="row">

						<div class="col">
							<div class="list card">
								<div class="row">
									<div class="col">
										<h1>{{quarter.team1score}}</h1>
										<h3>{{activity.team1.schoolId}}</h3>
									</div>
								</div>
							</div>
						</div>
						<br/>	<br/>	<br/>
						<div class="col">
							<div class="list card">
								<div class="row">
									<div class="col">
										<h1>{{quarter.team2score}}</h1>
										<h3>{{activity.team2.schoolId}}</h3>
									</div>
								</div>
							</div>
						</div>
						
					</div>

				</div>	
				</div>

			</div>


		<div ng-repeat="quarter in scores | filter : {activityId : activity.$id}">
			<div class="item item-divider align-center">
			 {{quarter.name}}
			</div>

			<div class="row">

				<div class="col">
					<div class="list card">
						<div class="row">
							<div class="col">
								<h2>{{quarter.team1score}}</h2>
								<button class="button button-small button-balanced ion-edit" ng-show="true" ng-click="editScore1(quarter)">  Edit</button>
								<h4>{{activity.team1.schoolId}}</h4>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="list card">
						<div class="row">
							<div class="col">
								<h2>{{quarter.team2score}}</h2>
								<button class="button button-small button-balanced ion-edit" ng-show="true" ng-click="editScore2(quarter)">  Edit</button>
								<h4>{{activity.team2.schoolId}}</h4>
							</div>
						</div>
					</div>
				</div>
				
			</div> <br/>

		</div>
			
		
  	</ion-content>


  	
</ion-view>