<ion-view title="Day 1- {{event.$id}}">

	<ion-nav-buttons side="right">
		  <button class="button button-icon icon ion-ios7-plus-empty" ng-click="activityModal.show()">
		   
		  </button>
	</ion-nav-buttons>

	<ion-content has-header="true">

	<div class="item item-input-inset">		
	     <label class="item-input-wrapper">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search" ng-model="searchKey">
		 </label>
	</div>


	  <div class="list">

	    <div ng-repeat="time in activities | filter : {eventId : event.$id} | groupBy:'time'">

	        <div class="item item-divider">
			    {{time}}
			</div>

	        

			<a  class="item  item-icon-left item-icon-right" 
				ng-repeat="game in games = (activities | filter: {time: time} )" href="#/tab/activity-detail/{{game.$id}}">
				
				<i class="icon {{game.gameIcon}}"></i>
				
				{{game.teams.team1.schoolId}} vs. {{game.teams.team2.schoolId}}
				<br/>

				{{game.gameName}}   {{game.category}}
			 	
			 	<p>{{game.venue}}, Game #{{game.gameNo}}</p>
				<i class="badge badge-balanced ion-trophy" ng-show="!(game.winner=='?')"> &nbsp;Winner : {{game.winner}}</i>
			</a>

	    

	        </div>

	  </div>



  	</ion-content>

</ion-view>